.downloads {
    background-color: var(--color-gray-100);

    .container {
        padding: 50px 0;
        background-color: var(--color-gray-200);
        display: grid;
        grid-template-columns: 1fr;

        @include md {
            grid-template-columns: 1fr 1fr;
        }

        .iphone {
            text-align: center;

            .img-iphone {
                width: 25em;
            }
        }

        .content {
            display: block;
            padding: 0 80px;

            .download-content {

                .download-head {
                    display: block;
                }

                .download-app {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 30px;

                    @include md {
                        flex-direction: column;
                        align-items: start;
                    }

                    @include lg {
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .download-text {
                        display: block;
                    }

                    .download-img {
                        align-items: flex-end;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}
