<section class="light-dark">
    <div class="container">
        <div class="slider-h2-computer">
            <h2 class="slider-h2 h1">Switch between <span>Light & Dark Mode</span></h2>
            <div class="computer">
                <img class="img-computer" src="~/Images/homepage_img/slider-dark-light/mockup.svg" alt="computer">
            </div>
        </div>

        <div class="button">
            <img class="img-button" src="~/Images/homepage_img/slider-dark-light/button.svg" alt="button">
        </div>
    </div>
</section>