<section class="manage-work">
    <div class="container">
        <div class="manage-work-tool-left">
            <img class="dashboard" src="./images/homepage_img/ManageWork/dashboardImage.svg" alt="dashboard">
        </div>

        <div class="manage-work-tool-right">
            <h2>Manage Your Work</h2>

            <ul>
                <li class="manage-work-li">Powerful project management</li>
                <li class="manage-work-li">Transparent work management</li>
                <li class="manage-work-li">Manage work & focus on the most important tasks</li>
                <li class="manage-work-li">Track your progress with interactive charts</li>
                <li class="manage-work-li">Easiest way to track time spent on tasks</li>
            </ul>

            <div class="learn-more">
                <a class="btn btn-theme" asp-action="Home" asp-controller="Default">Learn more<i class="fa-regular fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>